{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}

{% block content %}
<h2>Редактировать запись №{{ person[0] }}</h2>

<form method="POST">
    <label>Имя:</label><br>
    <input name="first_name" value="{{ person[1] }}"><br><br>

    <label>Фамилия:</label><br>
    <input name="last_name" value="{{ person[2] }}"><br><br>

    <label>Год рождения:</label><br>
    <input name="birth_year" value="{{ person[3] }}"><br><br>

    <label>Год смерти:</label><br>
    <input name="death_year" value="{{ person[4] }}"><br><br>

    <label>Причина смерти:</label><br>
    <input name="cause" value="{{ person[5] }}"><br><br>

    <button type="submit">💾 Сохранить изменения</button>
</form>

<br>
<a href="{{ url_for('people') }}">🔙 Назад к списку</a>
{% endblock %}
